@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Inter";
  font-weight: 400;
  color: var(--text);
  background: var(--background);
}

/* Remove spinner arrows in number inputs for Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spinner arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  @apply bg-white w-2 h-2;
}

::-webkit-scrollbar-thumb {
  @apply bg-black/50;
}

@layer base {
  * {
    @apply border-[#28161c]/20 dark:border-white/10;
  }
}

@utility color-1 {
  /* for background color */
  @apply bg-[#f7f7f7] text-black dark:bg-[#1a1a1a] dark:text-white;
}

@utility color-2 {
  /* for header and footer */
  @apply bg-[#303030] text-[#ffffff];
}

@utility color-3 {
  /*  for card or item display */
  @apply bg-[#ffffff] text-black dark:bg-[#303030] dark:text-white rounded;
}
